---

---

<section>
  <div class="header-wrapper grid3-1">
    <h1>connect_with_me</h1>
  </div>
  <p>I hope to find a great match with a company that expects a fresh and fun intern. I am ready to learn and explore this industry through the eyes of a profesional</p>
</section>

<style>
  section {
    padding: var(--space-2xs) var(--space-s);
    .header-wrapper::after {
      display: block;
      content: "";
      background: url(/grid2.svg);
      transform: rotate(180deg);
      width: 20%;
      aspect-ratio: 1/1;
      position: absolute;

      left: 0rem;
      z-index: -1;
    }
  }
</style>
