---
import "../css/general.css";
---

<section>
  <div class="flex">
    <a href="/"><h4>#index <span class="arrow">&#10132;</span></h4></a>
    <a href="/projects"><h4>#latest projects <span class="arrow">&#10132;</span></h4></a>
    <a href="/about"><h4>#about <span class="arrow">&#10132;</span></h4></a>
  </div>
  <h2>&copy;joris ten voorde</h2>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    background: var(--gradient1);

    padding: 3rem 0 0 6rem;
    overflow-y: hidden;
  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h2 {
    text-align: end;
  }
  h4 {
    color: var(--accent2);
  }

  .arrow {
    color: var(--primary);
  }

  @media (min-width: 900px) {
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 20rem;
    }

    .flex {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
  }
</style>
