---
import "../css/animation.css";
---

<!-- <h1 class="display">profile</h1> -->
<section>
  <h1 class="display">joris_ten<br />_voorde</h1>

  <div class="grid2-1">
    <div class="box1">
      <h2>frontend development student</h2>
      <div class="links">
        <a href="#about">#ABOUT</a>
        <a href="#wid">#WHAT_I_DO</a>
        <a href="#connect">#CONNECT</a>
      </div>
    </div>
    <div class="box2">
      <div class="frontgradient"></div>
      <div class="animcontent">
        <div class="lr-anim bar">LOOKING FOR INTERNSHIP</div>
        <div class="rl-anim bar">FRONTEND DEVELOPMENT STUDENT</div>
        <div class="rl-anim delay1 bar">LOOKING FOR INTERNSHIP</div>
        <div class="lr-anim-slow bar">LOOKING FOR INTERNSHIP</div>
        <div class="rl-anim-slow delay2 bar">JS / CSS / FIGMA / ASTRO / REACT.JS</div>
      </div>
    </div>
  </div>
  <style>
    section {
      padding-top: var(--space-s);
      position: relative;

      h1 {
        /* text-align: center; */
        /* padding-left: var(--space-2xl); */
        /* padding-right: var(--space-xl); */
        -webkit-text-stroke: var(--secondary) 2px;
      }
    }

    section::after {
      display: block;
      content: "";

      background: url(/grid2.svg);
      background-size: cover;
      transform: rotate(0);
      width: 25rem;
      aspect-ratio: 1/1;
      position: absolute;
      top: -5rem;
      right: 0rem;
      z-index: -1;
    }
    .box1 {
      background: var(--gradient3);

      h2 {
        text-align: right;
        margin-top: 0;
        color: var(--accent2);
        z-index: 5;
      }

      .links {
        padding: var(--space-2xs);
        display: flex;
        flex-direction: column;
        place-items: end;
        justify-content: space-between;
        > * {
          font-family: "Work Sans", sans-serif;
          font-size: var(--step-0);
          font-weight: 700;
          color: var(--accent2);
          text-transform: uppercase;

          margin-bottom: var(--space-2xs);
        }
      }
    }
    .box1::after {
      display: block;
      content: "";

      background: url(/grid2.svg);
      background-size: cover;
      transform: rotate(180deg);
      width: 30%;
      aspect-ratio: 1/1;
      position: absolute;
      top: 70%;
      left: 0rem;
      z-index: 0;
    }

    .box2 {
      height: 50%;
      margin-top: auto;
      display: grid;
      z-index: -5;
      place-items: center;

      position: relative;
      .animcontent,
      .frontgradient {
        grid-area: 1/1;
        position: absolute;
      }
      .animcontent {
        border-top: solid var(--accent2) 2px;
        border-bottom: solid var(--accent2) 2px;
        height: 100%;
        width: 100%;

        .bar {
          width: 100%;
          font-family: "Druk Wide Bold Bold";
          font-size: var(--step-2);
          color: var(--accent2);
          text-transform: uppercase;
          line-break: strict;
          white-space: nowrap;
        }
      }
    }
    @media (min-width: 900px) {
    }
  </style>
</section>
