---
import "../css/general.css";
---

<div class="menu-container">
  <ul class="menu">
    <li class="menupunkt">
      <a href="#about">#ABOUT</a>
    </li>
    <li class="menupunkt">
      <a href="#wid">#WHAT I DO</a>
    </li>
    <li class="menupunkt">
      <a href="#connect">#CONNECT</a>
    </li>
  </ul>
</div>
<style>
  .menu-container {
    height: 110%;
    width: 100%;
    background-color: var(--accent1);
  }
  .menu {
    position: sticky;
    top: 2%;

    list-style: none;

    padding: 1rem;
  }
  .menupunkt {
    > * {
      color: var(--accent2);
      padding-top: 4rem;

      writing-mode: vertical-lr;
      font-family: "Work Sans", sans-serif;
      font-size: var(--step-0);
      font-weight: 700;
      color: var(--accent2);
      text-transform: uppercase;
    }
  }

  /* @media (min-width: 900px) {
    .menu {
      width: 4rem;
    }
  } */
</style>
