---
import "../css/general.css";
---

<div class="menu-container">
  <ul class="menu">
    <li class="menupunkt">
      <a href="">INDEX</a>
    </li>
    <li class="menupunkt">
      <a href="">ABOUT</a>
    </li>
    <li class="menupunkt">
      <a href="">PROJETCTS</a>
    </li>
  </ul>
</div>
<style>
  .menu-container {
    height: 100%;
    width: 100%;
    background-color: var(--accent1);
  }
  .menu {
    position: sticky;
    top: 2%;

    list-style: none;

    margin: 0;
    padding-top: auto;
    padding-bottom: auto;
  }
  .menupunkt {
    > * {
      color: var(--accent2);
      padding-top: 4rem;

      writing-mode: vertical-lr;
    }
  }

  /* @media (min-width: 900px) {
    .menu {
      width: 4rem;
    }
  } */
</style>
