.lr-anim {
  animation-name: left-right-animation;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes left-right-animation {
  0% {
    transform: translateX(-60vh);
  }

  50% {
  }
  100% {
    transform: translateX(65vh);
  }
}

.rl-anim {
  animation-name: right-left-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes right-left-animation {
  0% {
    transform: translateX(35vw);
  }
  50% {
  }
  100% {
    transform: translateX(-15vw);
  }
}

.lr-anim-slow {
  animation-name: left-right-slow-animation;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes left-right-slow-animation {
  0% {
    transform: translateX(-60vh);
  }
  /* 50% {
    transform: translateX(65vh);
  } */
  100% {
    transform: translateX(65vh);
  }
}

.delay1 {
  animation-delay: -2s;
}

:root {
  --hover: ease 0.2s all;
}

.in-viewport {
  animation: fadeInUp 1s ease-out forwards; /* Adjust duration and easing as needed */
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2rem); /* Moves the element 2rem down initially */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Moves the element to its original position */
  }
}
