.lr-anim {
  animation-name: left-right-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes left-right-animation {
  0% {
    transform: translateX(-40vw);
  }

  100% {
    transform: translateX(50vw);
  }
}

.rl-anim {
  animation-name: right-left-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes right-left-animation {
  0% {
    transform: translateX(35vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

.rl-anim-slow {
  animation-name: right-left-animation-slow;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes right-left-animation-slow {
  0% {
    transform: translateX(35vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

.lr-anim-slow {
  animation-name: left-right-slow-animation;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes left-right-slow-animation {
  0% {
    transform: translateX(-60vh);
  }

  100% {
    transform: translateX(65vh);
  }
}

.delay1 {
  animation-delay: -2s;
}
.delay2 {
  animation-delay: -8s;
}

:root {
  --hover: ease 0.2s all;
}

.in-viewport {
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
