@font-face {
  font-family: "Druk Wide Bold Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Druk Wide Bold Bold"), url("../Fonts/DrukWideBold.woff") format("woff");
}

@font-face {
  font-family: "STRETCH SANS";
  font-style: normal;
  font-weight: normal;
  src: local("STRETCH SANS"), url("../Fonts/STRRETCH-SANS-FREE.woff") format("woff");
}

html {
  scroll-behavior: smooth;

  --primary: #2231eb;
  --secondary: #ffa800;
  --tertiary: #826586;

  --accent1: #222222;
  --accent2: #f9f8f1;
  --accent3: #f97d9e;

  background-color: var(--primary);

  --focus: all 0.2s ease;
  --unfocus: all 0.35s ease;
  --gradient1: conic-gradient(from 90deg, var(--secondary), var(--accent1));
  --gradient2: linear-gradient(90deg, var(--tertiary), var(--secondary));
  --gradient3: linear-gradient(90deg, var(--primary), var(--secondary));
  --gradient4: linear-gradient(90deg, var(--tertiary), var(--primary));
  --gradient5: linear-gradient(90deg, var(--secondary), var(--primary));

  a {
    text-decoration: none;
  }

  ::selection {
    background-color: var(--accent3);
    color: var(--accent1);
  }
}
:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
}

.display {
  font-family: "STRETCH SANS";
  font-size: 96px;
  text-transform: uppercase;
  color: var(--accent1);
}

h1 {
  font-family: "Druk Wide Bold Bold";
  font-size: var(--step-6);
  color: var(--accent1);
  text-transform: uppercase;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}
h2 {
  font-family: "Druk Wide Bold Bold";
  font-size: var(--step-5);
  color: var(--accent1);
  text-transform: uppercase;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-4);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-3);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}

p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--accent2);
  font-size: var(--step-0);
}

a:hover .arrow {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  color: var(--primary);
  transition: var(--focus);
}
a .arrow {
  transition: var(--unfocus);
}

hr {
  width: 100%;
  margin: 2rem 0 2rem 0;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
}
