@font-face {
  font-family: "Druk Wide Bold Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Druk Wide Bold Bold"), url("../Fonts/DrukWideBold.woff") format("woff");
}

@font-face {
  font-family: "STRETCH SANS";
  font-style: normal;
  font-weight: normal;
  src: local("STRETCH SANS"), url("../Fonts/STRRETCH-SANS-FREE.woff") format("woff");
}

html {
  scroll-behavior: smooth;

  --primary: #2231eb;
  --secondary: #ffa800;
  --tertiary: #826586;

  --accent1: #222222;
  --accent2: #f9f8f1;
  --accent3: #f97d9e;

  background-color: var(--primary);

  --focus: all 0.2s ease;
  --unfocus: all 0.35s ease;
  --gradient1: conic-gradient(from 90deg, var(--secondary), var(--accent1));
  --gradient2: linear-gradient(90deg, var(--tertiary), var(--secondary));
  --gradient3: linear-gradient(90deg, var(--primary), var(--primary), var(--secondary));
  --gradient4: linear-gradient(90deg, var(--tertiary), var(--primary));
  --gradient5: linear-gradient(90deg, var(--secondary), var(--primary));
  --gradient6: linear-gradient(90deg, var(--secondary), var(--tertiary));
  --gradient7: linear-gradient(0deg, var(--primary) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, var(--primary) 100%);

  ::selection {
    background-color: var(--tertiary);
    color: var(--accent1);
  }
}
:root {
  /* typography */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* spacing */
  --space-3xs: clamp(0.3125rem, -0.0136rem + 1.6304vw, 1.25rem);
  --space-2xs: clamp(0.5625rem, -0.1114rem + 3.3696vw, 2.5rem);
  --space-xs: clamp(0.875rem, -0.125rem + 5vw, 3.75rem);
  --space-s: clamp(1.125rem, -0.2228rem + 6.7391vw, 5rem);
  --space-m: clamp(1.6875rem, -0.3342rem + 10.1087vw, 7.5rem);
  --space-l: clamp(2.25rem, -0.4457rem + 13.4783vw, 10rem);
  --space-xl: clamp(3.375rem, -0.6685rem + 20.2174vw, 15rem);
  --space-2xl: clamp(4.5rem, -0.8913rem + 26.9565vw, 20rem);
  --space-3xl: clamp(6.75rem, -1.337rem + 40.4348vw, 30rem);
}

.display {
  font-family: "STRETCH SANS";
  font-size: 96px;
  text-transform: uppercase;
  -webkit-text-stroke: var(--secondary) 4px;
  color: transparent;
}

h1 {
  font-family: "Druk Wide Bold Bold";
  font-size: var(--step-6);
  color: transparent;
  -webkit-text-stroke: var(--accent2) 3px;
  text-transform: uppercase;
  padding: var(--space-2xs);
  margin-top: -1rem;
  margin-bottom: -1rem;
  word-break: break-all;

  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }
}
h2 {
  font-family: "Druk Wide Bold Bold";
  font-size: var(--step-5);
  color: var(--accent2);
  text-transform: uppercase;
  margin: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-4);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-3);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--accent1);
  text-transform: uppercase;
}
h6 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-0);
  font-weight: 700;
  color: var(--accent2);
  text-transform: uppercase;
}

p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--accent2);
  font-size: var(--step-0);
}

a {
  color: var(--accent2);
  text-decoration: underline;
}
a:hover,
a::selection {
  color: var(--secondary);
}
a:active {
  color: var(--accent2);
}

a:hover .arrow {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  color: var(--primary);
  transition: var(--focus);
}
a .arrow {
  transition: var(--unfocus);
}

hr {
  width: 100%;
  margin: 2rem 0 2rem 0;
  background-color: var(--tertiary);
  height: 2px;
  border: none;
}

/* Flowspace */
.flow > * + * {
  /* margin-block-start: var(--space-m); */
  margin-block-start: var(--flow-space, var(--space-s));

  h2 + h3 {
    --flow-space: var(--space-s);
  }
}

.flow-light > * + * {
  /* margin-block-start: var(--space-m); */
  margin-block-start: var(--flow-space, var(--space-xs));

  h2 + h3 {
    --flow-space: var(--space-2xs);
  }
}

@media (min-width: 900px) {
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .grid1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .grid5-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

@media (max-width: 900px) {
  /* Mobileflow */
  .flow-mobile > * + * {
    /* margin-block-start: var(--space-m); */
    margin-block-start: var(--flow-space, var(--space-xs));

    h2 + h3 {
      --flow-space: var(--space-2xs);
    }
  }
}
