---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";

const { pagetitle, display } = Astro.props;
import "../css/reset.css";
import "../css/general.css";
import "../css/animation.css";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pagetitle}</title>

    <link rel="stylesheet" href="/src/css/general.css" />
    <link rel="stylesheet" href="/src/css/animation.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap" rel="stylesheet" />
  </head>

  <body>
    

    
    <main>
      <slot />
    </main>
    <div class="menubar">
      <Menu />
    </div>
    <div class="footer">
      <Footer />
    </div>
    
  </body>
  
 
</html>

<style>
  body {
--content: minmax(0.5rem, 85ch);

display: grid;
grid-template-columns: 
[content-start] var(--content) [content-end]
[menubar] minmax(2rem, 4rem);


> :first-child{
  display: grid;
  grid-column: display span;
}
main{
  display: grid;
  grid-column: content span;
  grid-template-columns: subgrid;

}

.menubar{
  display: grid;
  grid-column: menubar;

}

.footer{
  display: grid;
  grid-column:  content span;
}

overflow-x: hidden;


    /* .container1 {
      position: absolute;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: content;
      left: 0;
      top: 25rem;

      margin-top: -4rem;

      > * {
        color: transparent;
        -webkit-text-stroke: var(--accent1) 3px;
        transform: translateY(-10vh) translateX(-45%) rotate(-90deg);
      }
    } */


</style>
